

AnchorPane{
    -fx-background-color:
            linear-gradient(to bottom, #7a0000 0%, #3b0000 40%, #2e2e2e 100%);

    -fx-border-color: #ff3c00;
    -fx-border-width: 5;

    -fx-padding: 25;

    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.9), 10, 0.7, 0, 3);

}



Label{
    -fx-font-family: "Cinzel";
    -fx-font-size: 40px;
    -fx-font-weight: bold;

    /* Gradient rouge */
    -fx-text-fill: linear-gradient(
            from 0% 0% to 0% 100%,
            #ff4c4c,  /* rouge clair */
            #7f0000   /* rouge sombre */
    );

    /* Ombre sombre/glow */
    -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.7),
            12, 0.4, 2, 2
    );
}
Label:hover {
    -fx-text-fill: linear-gradient(from 0% 0% to 0% 100%, #ff6666, #ff0000);
    -fx-effect: dropshadow(gaussian, rgba(255,0,0,0.6), 20, 0.6, 0, 0);
}
Text
{

    -fx-text-fill: #e6e6e6;
    -fx-font-family: "Courier New";
    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 3, 0.8, 2, 2);

}
#BACKbutton {
    -fx-background-color:
            linear-gradient(to bottom, #3a0000 0%, #1a0000 100%);

    -fx-text-fill: white;
    -fx-font-family: "Impact";
    -fx-font-size: 10px;
    -fx-font-weight: bold;

    -fx-border-color: #990000;
    -fx-border-width: 2;

    -fx-padding: 10 25 10 25;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.9), 12, 0.6, 0, 4);

}
#BACKbutton:hover {
    -fx-background-color:
            linear-gradient(to bottom, #660000 0%, #2b0000 100%);

    -fx-text-fill: #ffcccc;
}
#BACKbutton:pressed {
    -fx-background-color: #0d0000;
    -fx-translate-y: 2;
}
#sous_titre1,#sous_titre2,#sous_titre3,#sous_titre4
{
    -fx-font-size: 15px;
}