

#SCENE {
    -fx-background-color: linear-gradient(to bottom, #1b1b1b, #2e2e2e);
    -fx-padding: 10;
}


#canva {
    -fx-background-color: #3a3a3a;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 3;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 10, 0.5, 5, 5);
}


#Winner_label {
    -fx-text-fill: #ffd700;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 27px;
    -fx-background-color: rgba(50, 50, 50, 0.8);
    -fx-padding: 10px;
    -fx-border-color: #ffcc00;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.7), 8, 0, 4, 4);
}


#Winner_text {
    -fx-fill: #ff4500;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-font-size: 23px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 4, 0, 2, 2);
}


#Winner_image {
    -fx-background-color: #d3d3d3;
    -fx-padding: 5px;
    -fx-border-color: #a9a9a9;
   -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 6, 0, 3, 3);
    -fx-background-radius: 5px;
}

.button {

    -fx-background-color:
            linear-gradient(to bottom,
            #400000 0%,
            #1a0000 100%);

    -fx-text-fill: white;
    -fx-font-family: "Impact";
    -fx-font-size: 13px;
    -fx-font-weight: bold;

    -fx-border-color: #aa0000;
    -fx-border-width: 2;

    -fx-background-radius: 12;
    -fx-border-radius: 12;

    -fx-padding: 8 24 8 24;

    -fx-effect:
            dropshadow(gaussian,
            rgba(0,0,0,0.9),
            12, 0.6, 0, 4);
}

.button:hover {

    -fx-background-color:
            linear-gradient(to bottom,
            #770000 0%,
            #330000 100%);

    -fx-text-fill: #ffdddd;
}

.button:pressed {
    -fx-background-color: #0d0000;
    -fx-translate-y: 2;
}


