#storyButton, #personalizedButton, #backButton {
    -fx-opacity: 0.9;

    -fx-background-color: transparent;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.8),
        10, 0.5, 0, 3
    );
}


#storyButton:hover{

    -fx-opacity: 1;

    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;


}
#personalizedButton:hover{

    -fx-opacity: 1;

    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;


}
#backButton:hover{

    -fx-opacity: 1;

    -fx-scale-x: 1.08;
    -fx-scale-y: 1.08;


}


#storyButton:pressed, #personalizedButton:pressed, #backButton:pressed {

    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.9),
        15, 0.6, 0, 2
    );
}